<% acquirement = current_hacker.acquirements.find_by(skill: requirement.skill) %>

<table class="dashboard">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Current</th>
      <th>Required</th>
      <th>Claim</th>
    </tr>
  </thead>

  <tbody>
    <tr class="<%= assign_class requirement, acquirement %>">
      <td><%= requirement.skill.name %></td>
      <td><%= acquirement.try :level %></td>
      <td><%= requirement.level %></td>
      <td><%= button_to 'claim', acquirements_path(acquirement: {
        hacker_id: current_hacker.id,
        skill_id: requirement.skill.id,
        level: requirement.level.to_i }) %>
      </td>
    </tr>
  </tbody>
</table>
