<% acquirement = current_hacker.acquirements.find_by(skill: requirement.skill) %>
<li class="<%= assign_class requirement, acquirement %>">
  <h3><%= requirement.skill.name %></h3>
  <p>Required level: <%= requirement.level %></p>
  <% if acquirement %>
    <p>Your level: <%= acquirement.level %></p>
  <% end %>
  <%= button_to 'claim', acquirements_path(acquirement: {
    hacker_id: current_hacker.id,
    skill_id: requirement.skill.id,
    level: requirement.level.to_i }) %>
</li>
