<h1>Welcome <%= current_hacker.name %></h1>
<p>For your career of <strong><%= current_hacker.career.name %></strong> this is your path
<h1><%= current_hacker.seniority %> => <%= current_hacker.seniority.next %></h1>

<table class="dashboard">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Current</th>
      <th>Required</th>
    </tr>
  </thead>

  <tbody>
    <% current_hacker.missing_requirements_for_next_seniority.each do |requirement| %>
      <% acquirement = current_hacker.acquirements.find_by(skill: requirement.skill) %>
      <tr class="<%= assign_class requirement, acquirement %>">
        <td><%= requirement.skill.name %></td>
        <td><%= acquirement.try(:level) %></td>
        <td><%= requirement.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
