<h1>Welcome <%= current_hacker.name %></h1>
<p>For your career of <strong><%= current_hacker.career.name %></strong> this is your path
<h1><%= current_hacker.seniority %> => <%= current_hacker.seniority.next %></h1>

<ul class="requirements">
  <%= render current_hacker.missing_requirements_for_next_seniority %>
</ul>
